<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Andon System</title>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <div class="dashboard">
      <div class="label">SPEC</div>
      <div class="value spec">255/45R20V XL 04W330</div>

      <div class="label">NEXT</div>
      <div class="value next">255/45R20V XL 04W330</div>

      <div class="label">RUBBER</div>
      <div class="value rubber">
        <span class="first-rubber"></span>
        <p>/</p>
        <span class="second-rubber"></span>
        <p>/</p>
        <span class="third-rubber"></span>
        <p>/</p>
        <span class="fourth-rubber"></span>
        <p>/</p>
        <span class="fifth-rubber"></span>
      </div>

      <!-- <div class="label">COLOR</div>
      <div class="row-flex">
        <div class="color-box color-spec"></div>
        <div class="label">LINE</div>
        <div class="line-box status"></div>
      </div> -->

      <div class="label">PLAN</div>
      <div class="row-flex-small">
        <div class="small-box plan">2</div>
        <div class="label">RESULT</div>
        <div class="small-box result">1</div>
      </div>

      <section class="notification">
        <!-- <h4 class="server none">Server Loss Connection!</h4> -->
        <!-- <h4 class="tcp">TCP Connection Failed!</h4> -->
      </section>
    </div>
    <script type="module" src="/js/index.js"></script>
  </body>
</html>
